html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 40px;
    max-width: 1240px;

	display: flex;
	gap: 76px;
}

.small {
	padding: 16px;
	max-width: unset;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: unset;
}
